* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 3em 0;
  padding: 0;
}

.outer {
  margin: 0 auto;
  max-width: 480px;
}

.title {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: .1em;
  margin: 0 0 .25em;
  text-align: center;
  text-indent: .3em;
  text-transform: uppercase;
}

.subtitle {
  color: #999;
  font-size: .875em;
  margin: 2em;
  text-align: center;
}

.leaderboard {
  border-top: 1px solid #f1f1f1;
  counter-reset: ol-counter;
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0;
}

.player {
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  padding: .5em 0;
  position: relative;
  overflow: hidden;
  transition: background 300ms ease-out;
  border-left: 4px solid white;
}

.player:before {
  color: #999;
  content: counter(ol-counter);
  counter-increment: ol-counter;
  display: inline-block;
  font-weight: 300;
  line-height: 3em;
  text-align: center;
  vertical-align: middle;
  width: 3em;
}

.player .avatar {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}

.player .name {
  display: inline-block;
  font-size: 1.25em;
  font-weight: 300;
  vertical-align: middle;
}

.player .score {
  color: #333;
  display: block;
  float: right;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 2.4em;
  padding-right: 1.25em;
}

.player:hover {
  background: #89ebb7;
}

.player:active {
  box-shadow: rgba(0,0,0,.3) 0 1px 3px 0 inset;
}

.message {
  color: #aaa;
  line-height: 2.25rem;
  text-align: center;
}

@media (max-width: 500px) {
  .details, .message {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #fafafa;
    width: 100%;
    padding: 12px 15px;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  body {
    margin: 2em 0 4em 0;
  }
}